@tailwind base;
@tailwind utilities;

.terminal * {
    @apply break-words
}

.prompt {
    @apply font-bold flex flex-col w-full
}

.prompt-user {
    @apply text-cyan-700
}

.prompt-host {
    @apply text-green-700
}

.prompt-directory {
    @apply text-blue-700
}

.prompt-return.true {
    @apply text-green-700
}

.prompt-return.false {
    @apply text-red-700
}

.prompt-input {
    @apply flex
}

.prompt-input input {
    @apply w-full outline-none bg-transparent
}

a {
    @apply underline
}

#scanline-container {
    @apply backdrop-blur-sm opacity-70;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.125) 0%, rgba(255, 255, 255, 0.125) 50%, rgba(0, 0, 0, 0.125) 51%, rgba(0, 0, 0, 0.125) 100%);
    background-size: 100vh 6px;
    animation: scanlines 0.5s linear infinite;
}

@keyframes scanlines {
    0% {
        background-position: 0px 0px;
        top: 0;
    }

    100% {
        background-position: 6px 0px;
        top: -6px;
    }
}